@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #1c1c1c;
  --white: white;
  --slate-blue: #bde0fe;
  --hot-pink: #ffc8dd;
  --green-yellow: #bfff0a;
  --carnation-pink: #ffafcc;
  --light-blue: #a2d2ff;
  --thistle: #cdb4db;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f3eee8;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.str {
  color: rgb(28 25 23);
}

.top-black {
  box-shadow: 1px -7px 1px 4px #1c1917;
}

@keyframes backgroundAnim {
  50% {
    background-position: 140% 50%;
    skew: 2.5deg;
  }
}

.btn {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  background: linear-gradient(-90deg, #007cf0, #00dfd8, #ff0080, #007cf0);
  background-size: 400% 100%;
  border: 1px solid #007cf0;
  padding: 0;
  margin: 0;
  animation: backgroundAnim 18s ease-in-out infinite;
}

.btn::after {
  content: "";
  position: absolute;
  background-size: inherit;
  background-image: inherit;
  animation: inherit;
  left: 0;
  right: 0;
  top: 2px;
  height: 100%;
  filter: blur(0.5rem);
  border-radius: 0.75rem;
}
