@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-green: #dbfe00;
  --accent-green-foreground: #000;
  --accent-pink: #fe018a;
  --accent-pink-foreground: #fff;
  --primary: #1a1a1a;
  --primary-foreground: #fff;
  --primary-foreground-muted: #ffffffb3;
  --primary-card: #313131;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background: #000;
  color: var(--primary-foreground-muted);
}

.lines-1 {
  background-image: url("/assets/lines-1.svg");
  background-repeat: no-repeat;
  background-position: center 0%;
}

.lines-2 {
  background-image: url("/assets/lines-2.svg");
  background-repeat: no-repeat;
  background-position: center 0%;
}

@font-face {
  font-family: "Asteriks";
  src: url("/fonts/asteriks.otf") format("opentype");
  font-weight: 400;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: "tt-travels";
  src: url("https://use.typekit.net/af/72e638/0000000000000000774f76f5/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/72e638/0000000000000000774f76f5/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/72e638/0000000000000000774f76f5/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

.swiper-slide-shadow-coverflow {
  border-radius: 35px !important;
}

.prev .swiper-slide img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 35px;
}

.swiper.prev {
  height: 80vw;
  max-height: 80vh;
  margin-right: 8px;
  width: 100%;
}

.swiper.prev .swiper-slide {
  position: relative;
  height: 80vw;
  max-height: 80vh;
}

section {
  max-width: 1100px;
  margin: 0 auto;
}
body {
  font-family: "Asteriks";
}

@layer base {
  :root {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 35.5 91.7% 32.9%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 35.5 91.7% 32.9%;
  }
}
